include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/harvestapi *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/harvestapi/migration *.ini *.py *.mako
